<div style="
border: thick #000000;
background-color: #6d6d6d;
height: auto;
padding: 5px;
align-content: center;
">
    <div style="float: top; ">
        <h1>CodeSwap</h1>
    </div>
    <div style="float: bottom">
        This area is for the nav bar
    </div>

</div>