@font-face {
    font-family: 'noto_sansbold';
    src: url('fonts/notosans-bold-webfont.woff2') format('woff2'),
    url('fonts/notosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansbold_italic';
    src: url('fonts/notosans-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/notosans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansitalic';
    src: url('fonts/notosans-italic-webfont.woff2') format('woff2'),
    url('fonts/notosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uibold';
    src: url('fonts/notosansui-bold-webfont.woff2') format('woff2'),
    url('fonts/notosansui-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uibold_italic';
    src: url('fonts/notosansui-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/notosansui-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uiitalic';
    src: url('fonts/notosansui-italic-webfont.woff2') format('woff2'),
    url('fonts/notosansui-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uiregular';
    src: url('fonts/notosansui-regular-webfont.woff2') format('woff2'),
    url('fonts/notosansui-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font: 14px "Noto San", "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*HEADER*/

header {
    position: fixed;
    height: 12vh;
    width: 100%;
    text-align: center;
    background-color: #545454;
    color: white;
}

#clock {
    text-align: center;
    font-size: 3vh;
    z-index: 1;
    float: right;
    padding-top: .25%;
    padding-right: .25%;
}

#title {
    font-size: 6.25vh;
    z-index: 0;
}

#header-table {
    width: 100%;
    font-size: 3.25vh;
    background-color: #828282;
    display: flex;
}

.dropdown {
    width: 16.6666666666666666666666666%;
    position: relative;
}

.dropdown-content {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    background-color: #b8b8b8;
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
}

.dropdown a:hover {
    background-color: #6d6d6d;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
}

dropdpwn:hover .dropdown-btn {
    background-color: aquamarine;
}

/*BODY*/

article {
    position: relative;
    height: 88vh;
    width: 100%;
    top: 12vh;
    z-index: -1;
}

.todo {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.odd-cell {
    background-color: white;
}

.even-cell {
    background-color: #f2f2f2;
}

.cell {
    width: 14.28571428571%;
    padding-right: .75%
}

ul {
    padding-left: 10%;
    font-size: 2.5vh;
}
