@font-face {
    font-family: 'noto_sansbold';
    src: url('notosans-bold-webfont.woff2') format('woff2'),
         url('notosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansbold_italic';
    src: url('notosans-bolditalic-webfont.woff2') format('woff2'),
         url('notosans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansitalic';
    src: url('notosans-italic-webfont.woff2') format('woff2'),
         url('notosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('notosans-regular-webfont.woff2') format('woff2'),
         url('notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uibold';
    src: url('notosansui-bold-webfont.woff2') format('woff2'),
         url('notosansui-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uibold_italic';
    src: url('notosansui-bolditalic-webfont.woff2') format('woff2'),
         url('notosansui-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uiitalic';
    src: url('notosansui-italic-webfont.woff2') format('woff2'),
         url('notosansui-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_uiregular';
    src: url('notosansui-regular-webfont.woff2') format('woff2'),
         url('notosansui-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('notosans-regular-webfont.woff2') format('woff2'),
         url('notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}