<html>
<head>
    <title>AfenSite!!</title>
    <link rel='stylesheet' href='/stylesheets/Evan/AfenSiteStyles.scss'/>
    <script src="/javascripts/Evan/AfenSiteFunctions.js"></script>
</head>
<body>
<h3>
    Test
</h3>


</body>
</html>