/*



*/
/* 
    Created on : Mar 20, 2017, 1:11:17 PM
    Author     : tom
*/

body{
    background:aliceblue;
}
table{
    width:100%;
    background:seashell;

}
.r1{
    height:auto;
    justify-content: center;
}
th{
    width:auto;
    justify-content: center;
}
td{
    width:auto;
    justify-content: center;
}
#FileName{
    font-size:smaller;
    align-self: flex-end;
}
#enterName{
    text-align: center;
    line-height: 150%;
}
textarea{
    resize:none;
    height:25px;
    font-family:"Times New Roman",Times,serif;
    font-size: large;
}
#Player{
    justify-content:flex-start;
}
#OutCode{
    font-size:small;
}
#Codes{
    float: right;
}

img{
    width: 100%;
    height: 75%;
}
