#CourseList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 700px;
    overflow: auto;
}

.ListItemA{
    background-color: lightgray;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    height: 45px;
    vertical-align: middle;
}

.listItems {
    border: 1px solid gray;
    background-color: lightgray;
    padding: 2px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    height: auto;
    vertical-align: middle;
}


#SearchCourses {
    width: 90%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
#SearchBlock {
    width: 25%;
    float: left;
    border: 1px solid black;
    padding: 5px;
}
.SemesterBlockLeft {
    width: 47%;
    padding: 5px;
    float: left;
    border: 1px solid gray;
}
.SemesterBlockRight {
    width: 47%;
    padding: 5px;
    float: right;
    border: 1px solid gray;
}

.TimeSlotList {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    height: 80px;
    border: 1px solid gray;
    overflow: auto;
    float: bottom;
}
.SemesterBlockLabel {
    float: top;
    height: 5px;
    horiz-align: left;
}

#PlannerBlock {
    float: right;
    width: 60%;
    padding: 15px;
    font-size: 18px;
    color: black;
    display: block;
    border: 1px solid black;
}

.CreditHours {
    float: right;
    horiz-align: right;
}

#MWFBlock {
    float: left;
    width: 47%;
}

#TRBlock {
    float: right;
    width: 47%;
}

.labDay {
    resize: none;
    height: 12px;
    font-size: small;
    overflow: hidden;
}