<html>
<head>

    <link rel="stylesheet" href="/stylesheets/Tom/BSStyles.css" type="text/css"/>
    <script type="text/javascript" src="/javascripts/Tom/BSFunctions.js"></script>
    <title>Baseball Statistics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="content">
    <div>BaseBall Game Table</div>
    <img src="Codes.jpg" alt="Codes" style="width:500px;height:200px;" id="Codes">
    <p><br/></p>

    <label id="enterName" for="FileName">Enter the name of this game: </label>
    <textarea id="FileName"></textarea>
    <p><br/></p>
    <button onclick="addRow()">Add Row</button>
    <button id="cmd">Save as a PDF</button>
    <table id="table1" border="1">
        <thead>
        <tr>
            <th id="Player">Player</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
        </tr>
        </thead>

        <tr id="r1">
            <td>
                <textarea></textarea>
            </td>
            <td id="td1">
                <div>
                    <input type="checkbox" id="1_BB"/>
                    <label for="1_BB">walk</label>
                    <input type="checkbox" id="1_1B"/>
                    <label for="1_1B">1B</label>
                    <input type="checkbox" id="1_2B"/>
                    <label for="1_2B">2B</label>
                    <input type="checkbox" id="1_3B"/>
                    <label for="1_3B">3B</label>
                    <input type="checkbox" id="1_HR"/>
                    <label for="1_HR">HR</label>
                    <br>
                    <label for="1_OutCode">Code: </label>
                    <textarea id="1_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p1" onclick="changePic(id);">
            </td>
            <td id="td2">
                <div>
                    <input type="checkbox" id="2_BB"/>
                    <label for="2_BB">walk</label>
                    <input type="checkbox" id="2_1B"/>
                    <label for="2_1B">1B</label>
                    <input type="checkbox" id="2_2B"/>
                    <label for="2_2B">2B</label>
                    <input type="checkbox" id="2_3B"/>
                    <label for="2_3B">3B</label>
                    <input type="checkbox" id="2_HR"/>
                    <label for="2_HR">HR</label>
                    <br>
                    <label for="2_OutCode">Code: </label>
                    <textarea id="2_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p2" onclick="changePic(id);">
            </td>
            <td id="td3">
                <div>
                    <input type="checkbox" id="3_BB"/>
                    <label for="3_BB">walk</label>
                    <input type="checkbox" id="3_1B"/>
                    <label for="3_1B">1B</label>
                    <input type="checkbox" id="3_2B"/>
                    <label for="3_2B">2B</label>
                    <input type="checkbox" id="3_3B"/>
                    <label for="3_3B">3B</label>
                    <input type="checkbox" id="3_HR"/>
                    <label for="3_HR">HR</label>
                    <br>
                    <label for="3_OutCode">Code: </label>
                    <textarea id="3_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p3" onclick="changePic(id);">
            </td>
            <td id="td4">
                <div>
                    <input type="checkbox" id="4_BB"/>
                    <label for="4_BB">walk</label>
                    <input type="checkbox" id="4_1B"/>
                    <label for="4_1B">1B</label>
                    <input type="checkbox" id="4_2B"/>
                    <label for="4_2B">2B</label>
                    <input type="checkbox" id="4_3B"/>
                    <label for="4_3B">3B</label>
                    <input type="checkbox" id="4_HR"/>
                    <label for="4_HR">HR</label>
                    <br>
                    <label for="4_OutCode">Code: </label>
                    <textarea id="4_OutCode"></textarea>
                </div>

                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p4"  onclick="changePic(id);">
            </td>

            <td id="td5">
                <div>
                    <input type="checkbox" id="5_BB"/>
                    <label for="5_BB">walk</label>
                    <input type="checkbox" id="5_1B"/>
                    <label for="5_1B">1B</label>
                    <input type="checkbox" id="5_2B"/>
                    <label for="5_2B">2B</label>
                    <input type="checkbox" id="5_3B"/>
                    <label for="5_3B">3B</label>
                    <input type="checkbox" id="5_HR"/>
                    <label for="5_HR">HR</label>
                    <br>
                    <label for="5_OutCode">Code: </label>
                    <textarea id="5_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p5" onclick="changePic(id);">
            </td>
            <td id="td6">
                <div>
                    <input type="checkbox" id="6_BB"/>
                    <label for="6_BB">walk</label>
                    <input type="checkbox" id="6_1B"/>
                    <label for="6_1B">1B</label>
                    <input type="checkbox" id="6_2B"/>
                    <label for="6_2B">2B</label>
                    <input type="checkbox" id="6_3B"/>
                    <label for="6_3B">3B</label>
                    <input type="checkbox" id="6_HR"/>
                    <label for="6_HR">HR</label>
                    <br>
                    <label for="6_OutCode">Code: </label>
                    <textarea id="6_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p6" onclick="changePic(id);">
            </td>
            <td id="td7">
                <div>
                    <input type="checkbox" id="7_BB"/>
                    <label for="7_BB">walk</label>
                    <input type="checkbox" id="7_1B"/>
                    <label for="7_1B">1B</label>
                    <input type="checkbox" id="7_2B"/>
                    <label for="7_2B">2B</label>
                    <input type="checkbox" id="7_3B"/>
                    <label for="7_3B">3B</label>
                    <input type="checkbox" id="7_HR"/>
                    <label for="7_HR">HR</label>
                    <br>
                    <label for="7_OutCode">Code: </label>
                    <textarea id="7_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p7" onclick="changePic(id);">
            </td>
            <td id="td8">
                <div>
                    <input type="checkbox" id="8_BB"/>
                    <label for="8_BB">walk</label>
                    <input type="checkbox" id="8_1B"/>
                    <label for="8_1B">1B</label>
                    <input type="checkbox" id="8_2B"/>
                    <label for="8_2B">2B</label>
                    <input type="checkbox" id="7_3B"/>
                    <label for="8_3B">3B</label>
                    <input type="checkbox" id="8_HR"/>
                    <label for="8_HR">HR</label>
                    <br>
                    <label for="8_OutCode">Code: </label>
                    <textarea id="8_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p8" onclick="changePic(id);">
            </td>
            <td id="td9">
                <div>
                    <input type="checkbox" id="9_BB"/>
                    <label for="9_BB">walk</label>
                    <input type="checkbox" id="9_1B"/>
                    <label for="9_1B">1B</label>
                    <input type="checkbox" id="9_2B"/>
                    <label for="9_2B">2B</label>
                    <input type="checkbox" id="9_3B"/>
                    <label for="9_3B">3B</label>
                    <input type="checkbox" id="9_HR"/>
                    <label for="9_HR">HR</label>
                    <br>
                    <label for="9_OutCode">Code: </label>
                    <textarea id="9_OutCode"></textarea>
                </div>
                <img src="Baseball_Diamond_0.jpg" alt="Baseball" id="p9" onclick="changePic(id);">
            </td>
        </tr>
    </table>
</div>
</body>
</html>
