<html>

<head>
    <link rel="stylesheet" href="/stylesheets/Tom/CodeSwapStyles.scss" type="text/css"/>
    <script type="text/javascript" src="/javascripts/Tom/CodeSwapFunctions.js"></script>
    <title>CodeSwap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
<%include components/Header.ejs%>

</body>
</html>