<!DOCTYPE html>
<html>
<head>
    <title>Dayton Planner</title>
    <link rel='stylesheet' href='/stylesheets/Tom/SBStyles.css'/>
    <script src="/javascripts/Tom/SBFunctions.js"></script>
</head>
<body onload="LoadFunction();">

<div style="background: dodgerblue; height:80px; padding:10px;">
    <div style="float: left">
        <h1>Dayton Schedule Builder</h1>
    </div>
    <span style="float: right;">Questions or comments should be directed to<br><a href="mailto:tmckernan36@gmail.com">tmckernan36@gmail.com</a></span>
</div>


<div id="SearchBlock">
    <input type="text" id="SearchCourses" onkeyup="myFunction()" placeholder="Search for Courses">
    <nav>
        <ol  id="CourseList">
            <%i = 0;
            CourseList.forEach(function (t) { %>
            <li class="listItems" id="course#<%-i%>" ondblclick="moveBack(event);" ondragstart="dragStart(event);">
                <a id="ACourse#<%-i%>" class="ListItemA" href="javascript:void(0);">
                    <div style="float: left" class="classNameDiv"><%-t.DA%> <%-t.CN%>: <%-t.Name%></div>
                    <div style="float: right; width: 20%">
                        <span style="float: left">CH: <%-t.CH%></span>
                        <input type="text" onchange="updateCRN(event);" style="width: 40%; float: right" placeholder="CRN..."/>
                    </div>
                </a>
            </li>
            <%i++;
            });%>
        </ol>
    </nav>
</div>




<div id="PlannerBlock">
    <div id="MWFBlock">
        <h3>Monday/Wednesday/Friday</h3>
        <div class="time">
            <label class="timeLabel">8:00-8:50</label>
            <nav>
                <ul id="MWF8" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">9:05-9:55</label>
            <nav>
                <ul id="MWF9" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">10:10-11:00</label>
            <nav>
                <ul id="MWF10" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">11:15-12:05</label>
            <nav>
                <ul id="MWF11" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">12:20-1:10</label>
            <nav>
                <ul id="MWF12" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">1:25-2:15</label>
            <nav>
                <ul id="MWF1" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">2:30-3:20</label>
            <nav>
                <ul id="MWF2" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">3:35-4:50</label>
            <nav>
                <ul id="MWF3" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">5:05-6:20</label>
            <nav>
                <ul id="MWF5" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">Lab/Other</label>
            <textarea  class="labDay" placeholder="Day/Time"></textarea>
            <nav>
                <ul id="MWFL" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
    </div>

    <div id="TRBlock">
        <label style="float: right">Double click to remove a course</label>
        <h3>Tuesday/Thursday</h3>

        <div class="time">
            <label class="timeLabel">8:00-9:15</label>
            <nav>
                <ul id="TR8" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">9:30-10:45</label>
            <nav>
                <ul id="TR9" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">11:00-12:15</label>
            <nav>
                <ul id="TR11" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">12:30-1:45</label>
            <nav>
                <ul id="TR12" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">2:00-3:15</label>
            <nav>
                <ul id="TR2" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">3:30-4:50</label>
            <nav>
                <ul id="TR3" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">5:05-6:20</label>
            <nav>
                <ul id="TR5" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">6:35-7:50</label>
            <nav>
                <ul id="TR6" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <label class="timeLabel">Lab/Other</label>
            <textarea class="labDay" placeholder="Day/Time"></textarea>
            <nav>
                <ul id="TRL" ondragover="allowDrop(event)" ondrop="onDrop(event)" class="TimeSlotList"></ul>
            </nav>
        </div>
        <div class="time">
            <h2>
                Total Credit hours:
                <span id="CreditHours">0</span>
            </h2>
        </div>
    </div>


</div>
</body>
</html>
