<!DOCTYPE html>
<html>
<head>
    <title>News Headlines and Stock Prices</title>
    <script src="/javascripts/Tom/StockPageFunc.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div class="jumbotron text-center row">
    <div class="col">
        <h3>Welcome to the Stock Thinger</h3>
    </div>
</div>

<div class="container text-center">
    <div class="form-group">
        <label for="searchStock">Search for a Word!</label><br>
        <input id="searchStock" class="form-control" pattern="^\b[a-zA-Z]+\b$" type="text" placeholder="Search..."/>
    </div>
    <div class="form-group">
        <label for="sourceSelect">Search for a Word!</label><br>
        <select multiple id="sourceSelect" style="overflow: visible" class="form-control">
            <option value="*">All</option>
            <option value="https://www.nytimes.com/">New York Times</option>
            <option value="https://www.vox.com/">Vox</option>
            <option value="https://www.theatlantic.com/">The Atlantic</option>
            <option value="http://www.politico.com/">Politico</option>
            <option value="https://www.wsj.com/">The Wall Street Journal</option>
            <option value="https://www.washingtonpost.com/">The Washington Post</option>
        </select>
        <br>

    </div>
    <input type="button" style="float: right;" class="btn btn-primary" value="Search" onclick="submit();"/>
    <h4 style="float: left;">Click to expand the blocks below!</h4>
</div>
<br>
<br>
<br>
<div class="container" id="averageBlock">

</div>

<br>
<div class="container" id="stockBlock">

</div>



<script>
    // $('#searchStock').keyup(submit());
    // $('#sourceSelect').change(submit());

    function submit() {

        let term = $('#searchStock').val()
        let srcList = $('#sourceSelect').val();
        if (term.match("^\\b[a-zA-Z]+\\b$")){
            if (srcList.includes('*')) { srcList = ["*"] }
            if (srcList.length === 0) { srcList = ["*"] }
            loadResult(term, srcList);
        } else {
            alert('Invalid input!')
        }
        $('#stockBlock').empty();
        $('#averageBlock').empty();
    }

</script>

</body>
</html>