<!DOCTYPE html>
<html>

<head>
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Schwartz/cal/default.css" />
    <script type='text/javascript' src='/javascripts/Schwartz/cal/gcal.js'></script>
    <link href='/javascripts/Schwartz/cal/fullcalendar.min.css' rel='stylesheet' />
    <script src='/javascripts/Schwartz/cal/moment.min.js'></script>
    <script src='/javascripts/Schwartz/cal/jquery.min.js'></script>
    <script src='/javascripts/Schwartz/cal/fullcalendar.min.js'></script>
    <script src='/javascripts/Schwartz/cal/gcal.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script type='text/javascript'>

        $(document).ready(function() {
            $('#calendar').fullCalendar({

                googleCalendarApiKey: 'AIzaSyBb2d4on9Ga5XDwUWazjoOhG52H9LsU8cg',
                eventSources: [
                    {
                        googleCalendarId: 'jtschwartz98@gmail.com',
                        className: 'schwartz-personal' // an option!
                    },
                    {
                        googleCalendarId: 'schwartzj1@udayton.edu',
                        className: 'schwartz-school' // an option!
                    }
                ],

                loading: function(bool) {
                    $('#loading').toggle(bool);
                }

            });

        });

    </script>
</head>

<body>

<div id="loading">Loading...</div>

<div id="calendar"></div>

</body>

</html>
