<!DOCTYPE html>
<html>
<head>
    <title>UD Program Web Server</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <script src="/javascripts/default.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/Schwartz/ToDo.js"></script>
    <script src="/javascripts/Tom/ToDo.js"></script>
    <script src="/javascripts/Tyler/ToDo.js"></script>
    <script src="/javascripts/Evan/ToDo.js"></script>
    <script src="/javascripts/Alex/ToDo.js"></script>
    <script src="/javascripts/Pogo/ToDo.js"></script>
    <script src="/javascripts/Steve/ToDo.js"></script>
    <title>UD Program Web Server</title>
</head>
<body onload="startTime()">
<header>
    <span id="title">&nbsp;UD Programming Web Server</span>
    <div id="clock"></div>
    <hr style="margin-bottom: 0"/>
    <div id="header-table">
        <div class="dropdown">
            <div class="dropdown-btn">Tom</div>
            <div class="dropdown-content">
                <a href="/sb">Course Scheduler</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Schwartz</div>
            <div class="dropdown-content">
                <a href="/cal">Calendar</a>
                <a href="/wip">WIP</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Alex</div>
            <div class="dropdown-content">
                <a href="#">WIP</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Evan</div>
            <div class="dropdown-content">
                <a href="/AfenSite">Afens Site!!</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Tyler</div>
            <div class="dropdown-content">
                <a href="#">WIP</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Pogo</div>
            <div class="dropdown-content">
                <a href="#">WIP</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-btn">Steve</div>
            <div class="dropdown-content">
                <a href="#">WIP</a>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="todo">
        <div class="odd-cell cell" id="tom"></div>
        <div class="even-cell cell" id="schwartz"></div>
        <div class="odd-cell cell" id="alex"></div>
        <div class="even-cell cell" id="evan"></div>
        <div class="odd-cell cell" id="tyler"></div>
        <div class="even-cell cell" id="pogo"></div>
        <div class="odd-cell cell" id="steve"></div>
    </div>
</article>
</body>
</html>
